<div class="p-6 w-full">
  <div class="max-w-6xl mx-auto">
    <!--Module heading-->
    <h1 class="text-2xl font-bold text-gray-900">Settings</h1>
    <h4 class="text-gray-600 text-lg">Manage your application settings and preferences.</h4>

    <!--Tabs-->
    <div
      class="tabs bg-white rounded-2xl grid grid-cols-1 md:grid-cols-5 lg:grid-cols-6 gap-2 p-2 my-4 text-center font-medium">
      <div class="tab bg-white hover:bg-gray-200 p-2 rounded-lg cursor-pointer"
           [ngClass]="tab() === 'localisation' ? '!bg-blue-600 text-white' : ''" (click)="onTabChange('localisation')">
        Localization
      </div>
      @if (isAdmin()) {
        <div class="tab bg-white hover:bg-gray-200 p-2 rounded-lg cursor-pointer transition-all duration-200"
             [ngClass]="tab() === 'modules' ? '!bg-blue-600 text-white' : ''" (click)="onTabChange('modules')">
          Modules
        </div>
        <div class="tab bg-white hover:bg-gray-200 p-2 rounded-lg cursor-pointer transition-all duration-200"
             [ngClass]="tab() === 'company' ? '!bg-blue-600 text-white' : ''" (click)="onTabChange('company')">
          Company
        </div>
      }
      <div class="tab bg-white hover:bg-gray-200 p-2 rounded-lg cursor-pointer transition-all duration-200"
           [ngClass]="tab() === 'preference' ? '!bg-blue-600 text-white' : ''" (click)="onTabChange('preference')">
        Preferences
      </div>
      <div class="tab bg-white hover:bg-gray-200 p-2 rounded-lg cursor-pointer transition-all duration-200"
           [ngClass]="tab() === 'date' ? '!bg-blue-600 text-white' : ''" (click)="onTabChange('date')">
        Date & Time
      </div>
    </div>

    <!--Module content-->

    @if (tab() === 'localisation') {
      <ng-container>
        <div class="border border-gray-200 bg-white p-4 rounded-lg mb-4">
          <h1 class="text-2xl font-medium flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-blue-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM2.25 12h19.5M12 2.25c3.5 3 3.5 16.5 0 19.5M12 2.25c-3.5 3-3.5 16.5 0 19.5" />
            </svg>
            Localization
          </h1>
          <p class="text-gray-600 text-sm">Language, currency, and regional settings</p>
        </div>

        <currency-settings [disabled]="!isAdmin()"></currency-settings>
        <language-settings></language-settings>
      </ng-container>
    }

    @if (tab() === 'modules' && isAdmin()) {
      <module-settings></module-settings>
    }

    @if (tab() === 'company' && isAdmin()) {
      <company-settings></company-settings>
    }

    @if (tab() === 'preference') {
      <preferences-settings></preferences-settings>
    }

    @if (tab() === 'date') {
      <date-time-settings></date-time-settings>
    }

  </div>
</div>
